<%= form_for @post do |f| %>
  <%= f.label :image%>
  <%= f.file_field :image, class: "form-control" %>
<div class>
  <%= f.label :description%>
  <%= f.text_area :description, class: "form-control" %>
</div>
  <%= f.submit "Save Post", class: "btn btn-success" %>
<% end %>
