<div class="container">
  <div class="row">
    <div class="col-8">
      <% @posts.each do |post|%>
        <div class="insta-post ">
           <div class="post-meta ">
              <%=link_to profile_picture(post.account,40),profile_path(post.account.username)%>
              <%=link_to post.account.username, profile_path(post.account.username), class:"text-dark" %>
              <span class="text-muted">• <%= time_ago_in_words(post.created_at, include_seconds: true, no_words: true) %></span>
              <%= button_to "Delete", post_path(post), method: :delete, class: "btn btn-link text-decoration-none text-danger" %>
              <%= button_to "Delete", post_path(post), method: :delete, class: "btn btn-link text-decoration-none text-danger" %>


           </div>
            <div id="imageCarousel-<%= post.id %>" class="carousel slide ">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <% (0...post.images.count).each do |image_index| %>
                  <li data-target="#imageCarousel-<%= post.id %>" data-slide-to="<%= image_index %>" <%= image_index == 0 ? 'class="active"' : '' %>></li>
                <% end %>
              </ol>
              <!-- Slides -->
              <div class="carousel-inner post-height">
                <% (0...post.images.count).each do |image_index| %>
                  <div class="carousel-item <%= image_index == 0 ? 'active' : '' %>">
                    <%= image_tag(post.images[image_index], class: "d-block w-100 img-fluid post-size ") %>
                  </div>
                <% end %>
              </div>
              <!-- Controls -->
              <a class="carousel-control-prev" href="#imageCarousel-<%= post.id %>" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#imageCarousel-<%= post.id %>" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          <div class="post-details">
            <div class="post-actions">
              <i class="fa fa-heart like-<%= post.id %> <%= 'active' if post_liked_by_user?(post.id) %> fa-2x post-like" data-id="<%= post.id %>"></i>
                <%= link_to post_path(post.id) do%>
                  <i class="fa fa-comment fa-2x post-comment"></i>
                <%end%>
            </div>

            <p> <strong id="post-<%=post.id%>-likes"><%= post.total_likes_count %> Likes</strong></p>
            <!-- Username and description -->
            <p> <strong id="post-<%=post.id%>-comment"><%= link_to post.account.username, profile_path(post.account.username), class: "text-dark" %></strong></p>
            <%= simple_format post.description %>

            <%= render "posts/comments", post: post%>
          </div>
          <div class="comment-box">
              <%=form_for @comment do |f|%>
                <%= f.hidden_field :post_id, value: post.id%>
                <div class="input-group">
                  <%= f.text_field :comment, placeholder:"Add comment here...",class:"form-control post-comment"%>
                  <div class="input-group-append">
                      <%= f.submit "Post", class: "btn btn-success float-right"%>
                  </div>
                </div>
              <%end%>
          </div>
        </div>
      <%end%>
    </div>
    <div class="col-4">
      <div class="account-summery">
        <p class="m-0">
          <%=link_to profile_picture(current_account,40),profile_path(current_account.username), class:"float-left m-r-15"%>
          <strong>
            <%= current_account.username %>
          </strong></br>
          <%= current_account.full_name%>
        </p>
      </div>
    <div class="follower-suggestions">
      <div class="float-right">
        <%= link_to "View All", "#", class: "text-dark", style: "text-decoration: none;" %>
      </div>
      <p class="text-muted"><strong>Suggestions for you</strong></p>
      <%= render "accounts/follower_suggestions"%>
    </div>
    </div>
  </div>
</div>
