<div class="container">
   <div class="row">
      <div class="col-4">
      
        <% if @account.image.present? %>
          <%= image_tag @account.image, class: "img-circle" %>
        <% else %>
          <!-- Display a default image or some placeholder -->
          <p> No image is available</p>
        <% end %>
      </div>
     <div class="col-8 text-left">
        <h1> <%= @account.full_name%> </h1>
        <%= link_to 'Edit Profile', edit_account_registration_path , class:"btn btn-secondary"%>
        <div class="profile-stats"><%= @account.posts.count%> Count</div>
        <div class="profile-stats"><%= @account.total_followers%> Followers </div>
        <div class="profile-stats"><%= @account.total_following%> Following</div>

        <p> <%= @account.full_name%> </p>
        <p> <%=simple_format @account.description%> </p>
        <p> <%= link_to @account.website if @account.website.present?%> </p>
    </div>
  </div>
   <div class="row">
      <% @linked_posts.each do |post|%>
        <div class="col-4">
          <div class="insta-post profile-post">
            <%= image_tag (post.image), class:"img img-fluid" %>
          </div>
        </div>
      <%end%>
    </div>
</div>

